body {
  font-family: "Arial";
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
}

.menulink {
  color: #ffffff;
  text-decoration: none;
}

.menulink:hover {
  text-decoration: underline;
}

